.container {
  max-width: 140rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.logo-brand a {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0 1.2rem;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
}
