.container {
  max-width: 140rem;
  padding: 4.2rem 5rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.logo-brand a {
  font-size: 2.6rem;
  font-weight: bolder;
  /* margin: 1.6rem 1.2rem; */
  text-decoration: none;
}
ul li a {
  text-decoration: none;
}
